@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
}

.choice:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 1rem;
}

.msg-container {
    margin-top: 3rem;
    transition: 0.15s;
}
#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 0.8rem;
    display: inline;
    margin-top: 4rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

#dispChoices {
    font-size: 1rem;
    display: inline;
    border-radius: 1rem;
}